html, body, #map {
    height: 100%;
}

#searchbox, #map-menu {
    position: absolute;
    top: 0;
    margin: 16px;
}

#searchbox {
    left: 0;
    width: 100%;
    max-width: 480px;
}

.twitter-typeahead {
    width: 100%;
}

#map-menu {
    right: 0;
}

#search {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
}

.visible-small-inline {
    display: none;
}

@media (max-width: 480px) {
    .hidden-small {
        display: none;
    }
    .visible-small-inline {
        display: inline;
    }
    #searchbox, #map-menu {
        margin: 0;
    }
    #searchbox {
        padding: 2px;
    }
    #map-menu {
        padding: 0;
        right: auto;
        top: auto;
        bottom: 15px;
    }
    #map-menu > .dropdown-toggle {
        margin-left: -50%;
    }
    #map-menu > .dropdown-menu {
        position: fixed;
        top: 0;
        width: 75%;
        height: 100%;
        margin: 0;
        border: none;
        border-radius: 0;
    }
    #map-menu > .dropdown-menu-right {
        left: 0;
        right: auto;
    }
}

#map-tools {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.btn.tracking {
    background-color: #4cae4c;
    border-color: #449d44;
}

.ol-scale-line {
    position: absolute;
    bottom: 15px;
    right: 70px;
}
.ol-scale-line > .ol-scale-line-inner {
    border: 2px solid #000;
    border-top: none;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    text-shadow: 0 0 5px #fff;
}

.dropdown-menu > li > .btn-toolbar-vertical {
    margin: 3px 20px;
}

.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
}

.tt-suggestion {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.tt-suggestion:last-child {
    border-bottom: none;
}

.tt-suggestion > p {
    margin: 5px;
}

.tt-suggestion.tt-cursor {
    cursor: pointer;
    background-color: #fafafa;
}

.btn-toolbar-vertical > .btn-group-vertical {
    display: block;
    margin-bottom: 5px;
}

.btn-toolbar-vertical > .btn-group-vertical:last-child {
    margin-bottom: 0;
}
